.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.5);
}

.container {
    position: absolute;
    border: 4px solid rgb(99, 53, 223);
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    overflow-y: auto;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
}


/* ============================================== */

.iconContainer {
    margin: auto;
    text-align: center;
}

.icon {
    max-width: 10%;
    margin: auto;
}


/* ============================================== */

.title {
    display: block;
    text-align: center;
}


/* ============================================== */

.scrollToContainer {
    position: sticky;
    display: block;
    height: 0;
    width: 0;
    top: 80%;
    left: 95%;
    z-index: 1;
}

.scrollToBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    background-color: #fff;
}

.scrollToBottom>svg {
    width: 30px;
    height: 30px;
}


/* ============================================== */

.buttonContainer {
    padding: 1%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #fff;
}

.checkContainer {
    margin: 0;
    text-align: left;
}

.checkContainer>input {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.checkContainer>label {
    cursor: pointer;
    font-weight: bold;
}

.errorText {
    color: rgb(250, 89, 89);
    font-weight: bold;
}

.button {
    cursor: pointer;
    margin: auto;
    padding: 1% 4%;
    border-radius: 3px;
    background-color: #333333;
    border: 2px solid #333333;
    color: #ffffff;
}

.button:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
}